# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environment
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Testing / coverage
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/

# hidden files
db_config.json
dev/